<div class="wrapper">
  <div class="master-form">

  <h1 class="form-title">Sign up</h1>

  <%= form_for(@user, url: user_registration_path(@user)) do |f| %>
  <div class= 'form-text'>
    <%= devise_error_messages!%>
  </div>
    <div class="field">
      <%= f.label :first_name, "First Name", class: 'form-text'%>
      <%= f.text_field :first_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :last_name, "Last Name", class: 'form-text'%>
      <%= f.text_field :last_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email, class: 'form-text'%>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'form-text'%>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Password Confirmation", class: 'form-text'%>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign Up", class: 'button radius' %>
    </div>
  <% end %>

  </div>
</div>
<!-- <%= render "devise/shared/links" %> -->
