<%= form_for @donut do |f| %>
  <div class="field">
    <%= f.label :name, class: 'form-text' %>
    <%= f.text_field :name %>
  </div>

  <%= f.label :image, class: 'form-text' %>
  <%= f.file_field :image %>

  <%= f.label :description, class: 'form-text' %>
  <%= f.text_area :description %>

  <%= f.label :vendor_id, class: 'form-text' %>
  <%= f.collection_select :vendor_id, Vendor.order(:name), :id, :name, { prompt: "Please Select", include_blank: 'Add New Vendor'}, { onchange: 'showVendorForm()' } %><br />

  <div class="vendor-form" style="display:none">
    <h2><u>Add New Vendor</u></h1>
    <%= fields_for(Vendor.new,url: { controller: "donuts", action: "create" }) do |v| %>
      <%= v.label :name, "Vendor Name", class: 'form-text'  %>
      <%= v.text_field :name %><br />

      <%= v.label :street_number, class: 'form-text' %>
      <%= v.text_area :street_number %><br />

      <%= v.label :street_name, class: 'form-text' %>
      <%= v.text_area :street_name %><br />

      <%= v.label :city, class: 'form-text' %>
      <%= v.text_area :city %><br />

      <%= v.label :state, class: 'form-text' %>
      <%= v.select :state, Vendor::STATES, { include_blank: false } %>

      <%= v.label :zipcode, class: 'form-text' %>
      <%= v.text_area :zipcode %><br />
    <% end %>
  </div>

   <%= f.submit class: 'button radius' %>

<% end %>
