<h1><%= @donut.name %></h1>

<%= image_tag(@donut.image, id: "individual-donut") %>

<h2><%= @donut.description %></h2>

<% if current_user == @donut.user %>
  <%= button_to("Delete", donut_path(@donut), method: :delete) %>
  <%= link_to "Edit", edit_donut_path(@donut) %>
<% end %>

<% @reviews.each do |rev| %>
  <%= rev.user.fullname %>
  <%= rev.rating %>
  <%= rev.body %>
  <span id="review-sum-<%= rev.id %>"> <%= rev.votes.sum(:vote) %></span>
  <%= button_to '+1', upvote_api_review_votes_path(rev), class: "upvote-review", id: "upvote-review-#{rev.id}" %>
  <%= button_to '-1', downvote_api_review_votes_path(rev), class: "downvote-review", id: "downvote-review-#{rev.id}" %>
  <% if rev.user == current_user %>
    <%= button_to("Delete", donut_review_path(@donut.id, rev.id), method: :delete) %>
    <%= button_to("Edit", edit_donut_review_path(@donut.id, rev.id), method: :get) %>
  <% end %>
<% end %>

<% if current_user %>
  <%= render partial: "reviews/reviewform" %>
<% end %>
