<h1><%= @donut.name %></h1>
<<<<<<< HEAD

<img src="<%= @donut.image %>"/>
=======
<%= image_tag(@donut.image, id: "individual-donut") %>

>>>>>>> c2549b30b4dd902ad6aa42d1e3774ba61d233978
<h2><%= @donut.vendor_name %></h2>
<h2><%= @donut.description %></h2>
