<div class="uploaded-donut-content">
  <h1 class="donut-title"><%= @donut.name %></h1>
  <%= image_tag(@donut.image, id: "individual-donut", class: "donut-image")%>
  <h3 class="donut-description"><%= @donut.description %></h3>

  <% if current_user == @donut.user %>
    <ul class="button-group radius">
      <li><%= button_to("Delete", donut_path(@donut), method: :delete,
        class: "button radius tiny button secondary") %></li>
      <li><%= button_to("Edit", edit_donut_path(@donut), method: :get,
        class: "button radius tiny button secondary") %></li>
    </ul>
  <% end %>
</div>

<div class="row">
  <div class="small-8 medium-8 large-8 columns reviews">
    <h3> All Reviews</h3>
    <div class="individual-reviews">
      <% @reviews.each do |rev| %>
        <div class="votebuttons">
          <%= button_to '+1', upvote_api_review_votes_path(rev), class: "upvote-review", id: "upvote-review-#{rev.id}" %>
          <%= button_to '-1', downvote_api_review_votes_path(rev), class: "downvote-review", id: "downvote-review-#{rev.id}" %>
        </div>
        <span id="review-sum-<%= rev.id %>"> <%= rev.votes.sum(:vote) %></span>
        <div class="review-username">
          <%= rev.user.fullname%> </br>
        </div>
        <div class="review-parts">
            <%= "Rating:" %>
          <%=rev.rating %> </br>
            <%= "Comments:" %>
          <%= rev.body %> </br>
        </div>
        <% if rev.user == current_user %>
          <ul class="button-group radius">
            <li><%= button_to("Delete", donut_review_path(@donut.id, rev.id),
              method: :delete, class: "button radius tiny button secondary") %>
            </li>
            <li><%= button_to("Edit", edit_donut_review_path(@donut.id, rev.id),
              method: :get, class: "button radius tiny button secondary") %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="small-4 medium-4 large-4 columns">
    <% if current_user %>
      <%= render partial: "reviews/reviewform" %>
    <% end %>
  </div>
</div>

<%= paginate @reviews %>
