<h1> New Vendor Form </h1>

<%= form_for @vendor do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :street_number %>:
  <%= f.text_area :street_number %><br />

  <%= f.label :street_name %>:
  <%= f.text_area :street_name %><br />

  <%= f.label :city %>:
  <%= f.text_area :city %><br />

  <%= f.label :state %>
  <%= f.select :state, Vendor::STATES, { include_blank: false } %>

  <%= f.label :zipcode %>:
  <%= f.text_area :zipcode %><br />

   <%= f.submit %>
<% end %>
