<div class="wrapper">
<div class= 'master-form'>

  <h1 class="form-title">Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'form-text' %>
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'form-text' %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'remember-text' %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in", class: 'button radius'%>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
</div>
