<div class="add-review-form">
  <h3 class="add-review-title">Add Review</h3>

  <div class="add-review-form-body">
    <%= form_for :review, url: donut_reviews_path(@donut) do |f| %>
      <%= f.label :rating, class: "review-form-text" %>
      <%= f.collection_radio_buttons :rating, [[1, "1"], [2, "2"], [3,"3"], [4,"4"],[5,"5"]], :first, :last %>

      <br>

      <%= f.label :body, class: "review-form-text" %>
      <%= f.text_field :body %>

      <%= f.submit "Create Review" %>
    <% end %>
  </div>
</div>
