<h3>Add Review</h3>

<%= form_for :review do |f| %>
  <%= f.label :rating %>
  <% num = 1 %>
  <% 5.times do |this| %>
    <%= f.label :rating, num.to_s %>
    <%= f.radio_button :rating, num, value: num.to_i, label: num %>
    <% num += 1 %>
<% end %>
  <br>

  <%= f.label :body %>
  <%= f.text_field :body %>

  <%= f.submit "Create Review" %>
<% end %>
